body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.circle {
    width: 60vw; /* 一時的なデフォルトサイズ */
    height: 60vw; /* 一時的なデフォルトサイズ */
    border-radius: 70%;
    margin: 20px;
    transition: width 0.2s, height 0.2s; /* サイズ変更のアニメーションを滑らかにする */
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}
